<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/index.html}">

<head>

</head>

<body>
	<main layout:fragment="content">
		<div class="breadcrumb">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li>/</li>
				<li>Shop</li>
			</ul>
		</div>
		<!-- End of Breadcrumb-->

		<div class="new-product-section shop">
			<div class="sidebar">
				<div class="sidebar-widget">
					<h3>Category</h3>
					<ul>
						<li th:each="category : ${categories}"><a th:href="@{'/site/shop/findByCategory/' + ${category.categoryId}}">[[${category.name}]] ([[${category.type
							== 1 ? 'Men' : 'Women'}]])</a></li>
					</ul>
				</div>
			</div>
			<div class="product-content">
				<div class="product" th:each="product : ${products}">
					<a th:href="@{'/site/product/productDetail/' + ${product.productId}}"> <img
						th:src="${product.image != null ? '/img/product/' + product.image : '/image/products/img1.jpg'}">
					</a>
					<div class="product-detail">
						<h3>[[${product.category.name}]] ([[${product.category.type
							== 1 ? 'Men' : 'Women'}]])</h3>
						<h2 th:text="${product.name}"></h2>
						<a th:href="@{'/site/cart/addToCart/' + ${product.productId} + '/' + 1}">Add to Cart</a>
						<p>$[[${product.unitPrice}]]</p>
					</div>
				</div>
			</div>
		</div>
		<!-- New Product Section -->
		<div class="load-more">
			<a th:if="${currentPage < totalPages}"
				th:href="@{'/site/shop/more/' + ${currentPage + 1}}">Load More</a>
		</div>
	</main>
	<!-- Main Area -->
	<th:block layout:fragment="scripts">
		<script th:src="@{/js/shop.js}"></script>
	</th:block>
</body>

</html>