<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta name="author" content="Kamran Mubarik">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title -->
	<title>Create an E-Commerce Website using HTML, CSS and JS</title>
	<link rel="stylesheet" type="text/css" href="/css/admin.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

	<header>
		<div class="container">
			<div th:replace="admin/fragments/header:: header">

			</div>
		</div> <!-- container -->
	</header> <!-- header -->

	<main>

		<div class="main-content">
			<div th:replace="admin/fragments/slidebar:: slidebar">

			</div>
			<div layout:fragment="content">

			</div>
		</div>

	</main> <!-- Main Area -->

	<footer>
		<div class="container" th:replace="admin/fragments/footer:: footer">
			
		</div>
	</footer> <!-- Footer Area -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<th:block layout:fragment="script"></th:block>
</body>

</html>