<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <div class="slider" th:fragment="slide">
        <div class="slide-1">
            <img src="/image/slider/slide-1.jpg">
            <div class="slider-text">
                <h3>Sale 40% off</h3>
                <h2>Men's Watches</h2>
                <a href="#">Shop Now</a>
            </div>
        </div>
        <div class="slide-2">
            <img src="/image/slider/slide-2.jpg">
            <div class="slider-text">
                <h3>Sale 20% off</h3>
                <h2>Women's Fashion</h2>
                <a href="#">Shop Now</a>
            </div>
        </div>
        <div class="slide-3">
            <img src="/image/slider/slide-3.jpg">
            <div class="slider-text">
                <h3>Sale 50% off</h3>
                <h2>Women's Collection</h2>
                <a href="#">Shop Now</a>
            </div>
        </div>
    </div> <!-- slider -->	
</body>

</html>